bettercam==1.0.0
easyocr==1.7.2
fastapi==0.141.1
feedparser==6.0.14
keyboard==0.13.5
numpy==2.5.3
opencv_python==5.0.0.93
opencv_python_headless==5.0.0.93
pandas==3.0.5
Pillow==12.3.0
psycopg2==2.9.13
pyautogui==0.9.54
pyside6==6.11.2
pyside6_addons==6.11.2
pyside6_essentials==6.11.2
rapidfuzz==3.14.6
scikit_learn==1.9.1
scikit-image==0.26.0
SQLAlchemy==2.0.53
streamlit==1.63.0
torch==2.14.0
remotezip==0.12.6
requests==2.34.2
keyboard==0.13.5